<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Attempt Exam</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/ui/css/attempt.css}">

</head>
    <body>
            <div class="questions">
                <form th:action="@{/ui/submit-exam}" method="post" id="submitForms">
                    <input type="hidden" name="id" th:value="${question.id}"/>
                    <input type="hidden" name="answer" id="ans" />
                </form>
                <div class="border-class">
                    <h2 class="h2-tag" th:text="${exam.examTitle}"></h2>
                    <hr/>

                        <input type="hidden" name="questionScore" th:value="${question.questionScore}"/>
                        <div class="question" name="question" id="ques" th:text="${question.question}"></div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="opsion1" th:value="${question.option1}">
                        <label class="form-check-label" for="opsion1" th:text="${question.option1}"></label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="opsion2" th:value="${question.option2}">
                        <label class="form-check-label" for="opsion2" th:text="${question.option2}"></label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="opsion3" th:value="${question.option3}">
                        <label class="form-check-label" for="opsion3" th:text="${question.option3}"></label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="opsion4" th:value="${question.answer}">
                        <label class="form-check-label" for="opsion4" th:text="${question.answer}"></label>
                    </div>

                        <button class="btn btn-success btn-submit" id="submit" type="submit">Next Question</button>
                    <hr/>
                </div>
            </div>
            <script th:src="@{/ui/js/attempt.js}"></script>
    </body>
</html>