<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Dashboard</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
  <link rel="shortcut icon" th:href="@{/ui/images/logo.png}">
  <link rel="stylesheet" th:href="@{/ui/css/student-dashboard.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  <style>
    body{overflow: hidden;}
    header{position: relative;}
    .exam{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 80vh;
      padding: 10%;
    }
    .exam h2{
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-align: center;
    }
  </style>
</head>
<body>
<script th:src="@{/ui/js/exam.js}"></script>
<script th:src="@{/ui/js/student-dashboard.js}"></script>
<header>
      <div class="logo">
        <img th:src="@{/ui/images/logo.png}" alt="">
        <h2>U<span class="danger">M</span>S</h2>
      </div>
  <div class="navbar">
    <a th:href="@{/ui/student-dashboard}" class="active">
      <span class="material-icons-sharp">home</span>
      <h3>Home</h3>
    </a>
  </div>
      <div id="profile-btn" style="display: none;">
        <span class="material-icons-sharp">person</span>
      </div>
      <div class="theme-toggler">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
      </div>
</header>

<main>
  <div class="exam timetable">
    <h2>Exam Available</h2>


    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Subject</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="exam: ${exams}">
          <td th:text="${exam.startDate}" id="startDate" class="startDate" th:value="${exam.startDate}"></td>
          <td th:text="${exam.startTime}" th:value="${exam.startTime}" id="startTime"></td>
          <td th:text="${exam.examTitle}" th:value="${exam.examTitle}" id="examTitle"></td>
          <td th:text="${exam.endTime}" th:value="${exam.endTime}" id="endTime" style="display: none"></td>
          <td th:text="${exam.id}" th:value="${exam.id}" id="i" style="display: none"></td>
          <td th:text="${exam.subjectID}" th:value="${exam.subjectID}" id="si" style="display: none"></td>
          <td th:text="${exam.teacherID}" th:value="${exam.teacherID}" id="ti"  style="display: none"></td>
          <td th:text="${exam.approved}" th:value="${exam.approved}" id="ap"  style="display: none"></td>
          <div >
          <td>
            <button type="button" class="btn btn-primary" th:value="${exam.id}" th:id="${exam.id}" onclick="attempt(this)">Attempt</button>
          </td>
          </div>
        </tr>
      </tbody>
    </table>

  </div>
</main>
</main>
<form th:action="@{/ui/attempt-exam}" method="post" id="attemptForm">
    <input type="hidden" id="id" name="id">

</form>
<div class="form-popup" id="signOut">
  <form th:action="@{/ui/sign-out}" class="form-container" method="post">
    <h1>Are you Sure you want to Sign Out? </h1>

    <button type="submit" class="btn">Yes</button>
    <button type="button" class="btn cancel" onclick="closeForm()">No</button>
  </form>
</div>
</body>
</html>