<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Dashboard</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
  <link rel="shortcut icon" th:href="@{/ui/images/logo.png}">
  <link rel="stylesheet" th:href="@{/ui/css/student-dashboard.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  <style>
    body{overflow: hidden;}
    header{position: relative;}
    .exam{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 80vh;
      padding: 10%;
    }
    .exam h2{
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-align: center;
    }
  </style>
</head>
<body>
<script th:src="@{/ui/js/student-dashboard.js}"></script>
<header>
  <div class="logo">
    <img th:src="@{/ui/images.logo.png}" alt="">
    <h2>U<span class="danger">M</span>S</h2>
  </div>
  <div class="navbar">
    <a th:href="@{/ui/student-dashboard}">
      <span class="material-icons-sharp">home</span>
      <h3>Home</h3>
    </a>
    <a th:href="@{/ui/change-password}" class="active">
      <span class="material-icons-sharp">grid_view</span>
      <h3>Examination</h3>
    </a>
    <a th:href="@{/ui/change-password}">
      <span class="material-icons-sharp">password</span>
      <h3>Change Password</h3>
    </a>
    <a onclick="openForm()">
      <span class="material-icons-sharp">logout</span>
      <h3>Logout</h3>
    </a>
  </div>
  <div id="profile-btn" style="display: none;">
    <span class="material-icons-sharp">person</span>
  </div>
  <div class="theme-toggler">
    <span class="material-icons-sharp active">light_mode</span>
    <span class="material-icons-sharp">dark_mode</span>
  </div>
</header>

<main>
  <div class="exam timetable">
    <h2>Exam Available</h2>
    <form th:action="@{/ui/attempt-exam}" method="get" id="attemptForm">

    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Subject</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="exam: ${exams}">
          <td th:text="${exam.startDate}"></td>
          <td th:text="${exam.startTime}"></td>
          <td th:text="${exam.examTitle}">
            <input type="hidden" name="id" id="id" th:value="${exam.id}">
          </td>
          <td> <button type="button" class="btn btn-primary" onclick="attempt()">Primary</button> </td>

        </tr>
      </tbody>
    </table>
    </form>
  </div>
</main>
</main>
<div class="form-popup" id="signOut">
  <form th:action="@{/ui/sign-out}" class="form-container" method="post">
    <h1>Are you Sure you want to Sign Out? </h1>

    <button type="submit" class="btn">Yes</button>
    <button type="button" class="btn cancel" onclick="closeForm()">No</button>
  </form>
</div>
</body>
</html>